class {{ name }}:
    def __init__(self):
{%- for attribute in attributes %}
        self.{{ attribute.Name }} = None
{%- endfor %}

{% for operation in operations %}
    def {{ operation.Name }}(self):
        pass
{% endfor %}
